In [1]:
import pandas as pd

#**Flipping players**
Congratulations! You got the data scientist job! In your first project, you will work with the fifa_players dataset. It contains data of the players included in the last version of the video game. Before you start to do any analysis, you need to clean and format your dataset.

As a first step, you need to explore your dataset and reshape it using basic steps, such as setting different indices, filtering columns and flipping the DataFrame. You would like to see if that is enough for further analysis.

The fifa_players dataset is available for you. The pandas module will be preloaded as pd in your session throughout all the exercises of the course.

In [ ]:
fifa_players = pd.read_csv('fifa_players.csv') 
fifa_players

                name  age  height  weight nationality                 club
0       Lionel Messi   32     170      72   Argentina         FC Barcelona
1  Cristiano Ronaldo   34     187      83    Portugal             Juventus
2    Neymar da Silva   27     175      68      Brazil  Paris Saint-Germain
3          Jan Oblak   26     188      87    Slovenia      Atl?tico Madrid
4        Eden Hazard   28     175      74     Belgium          Real Madrid

In [ ]:
# Change the DataFrame so rows become columns and vice versa
fifa_transpose = fifa_players.set_index('name')[['height', 'weight']].transpose()

# Print fifa_transpose
fifa_transpose

name,Lionel Messi,Cristiano Ronaldo,Neymar da Silva,Jan Oblak,Eden Hazard
height,170,187,175,188,175
weight,72,83,68,87,74

#**Dribbling the pivot method**
It's time to keep working with the fifa_players dataset. After you explored the dataset, you realized the dataset contains player scores on different movements: shooting, dribbling, and passing. There are attacking scores as well as overall scores.

The goal of the project is to analyze the scores to create an optimized team, so you decide to explore which score is better. But the current data is in a long format. You'll need to to pivot your DataFrame in different ways to discover a pattern.

In [2]:
fifa_players_2 = pd.read_csv('fifa_players_2.csv') 
fifa_players_2

                name   movement  overall  attacking
0           L. Messi   shooting       92         70
1  Cristiano Ronaldo   shooting       93         89
2           L. Messi    passing       92         92
3  Cristiano Ronaldo    passing       82         83
4           L. Messi  dribbling       96         88
5  Cristiano Ronaldo  dribbling       89         84

In [4]:
# Use the pivot method to get overall scores indexed by movement and identified by name
fifa_names = fifa_players_2.pivot(index="movement", columns="name", values="overall")

# Print fifa_names
fifa_names

name       Cristiano Ronaldo  L. Messi
movement
dribbling                 89        96
passing                   82        92
shooting                  93        92

In [6]:
# Pivot fifa_players to get overall scores indexed by name and identified by movement
fifa_overall = fifa_players_2.pivot(index="name", columns="movement", values="overall")

# Print fifa_overall
fifa_overall

movement           dribbling  passing  shooting
name
Cristiano Ronaldo         89       82        93
L. Messi                  96       92        92

In [7]:
# Pivot fifa_players to get attacking scores indexed by name and identified by movement
fifa_attacking = fifa_players_2.pivot(index="name", columns="movement", values="attacking")

# Print fifa_attacking
fifa_attacking

movement           dribbling  passing  shooting
name
Cristiano Ronaldo         84       83        89
L. Messi                  88       92        70

#**Offensive or defensive player?**
You're not convinced with your previous exploration - you've discovered patterns in the attacking and overall scores in fifa_players. You would like to compare both scores, so you would like to see both in the same DataFrame.

To do this, you'll need a way to pivot more than one column. You remember you can achieve this goal in two different ways: you could pivot the DataFrame using the list with the two columns, or you could extend the .pivot() method to all the columns present in the dataset.

In [10]:
# Pivot fifa_players to get overall and attacking scores indexed by name and identified by movement
fifa_over_attack = fifa_players_2.pivot(index="name", 
                                     columns="movement", 
                                     values=["overall", "attacking"])

# Print fifa_over_attack
print(fifa_over_attack)

                    overall                  attacking
movement          dribbling passing shooting dribbling passing shooting
name
Cristiano Ronaldo        89      82       93        84      83       89
L. Messi                 96      92       92        88      92       70

In [12]:
# Use pivot method to get all the scores index by name and identified by movement
fifa_all = fifa_players_2.pivot(index="name", columns="movement")

# Print fifa_over_attack
print(fifa_all)

                    overall                  attacking
movement          dribbling passing shooting dribbling passing shooting
name
Cristiano Ronaldo        89      82       93        84      83       89
L. Messi                 96      92       92        88      92       70

#**Replay that last move!**
Amazing! You were able to pivot all columns of fifa_players. You saw that the overall and attacking scores are different and decided to extend your analysis to more players. However, you found an error.

You suspect that there are different scores for the same index and column values. You remember that using the .pivot() method for all the columns does not work in that case.

First, you decide to delete the problematic row so you can reshape the DataFrame afterwards.

In [15]:
# Drop the fifth row to delete all repeated rows
fifa_no_rep = fifa_players_2.drop(4, axis=0)

# Pivot fifa players to get all scores by name and movement
fifa_pivot = fifa_no_rep.pivot(index="name", columns="movement") 

# Print fifa_pivot
print(fifa_pivot)

                    overall                  attacking
movement          dribbling passing shooting dribbling passing shooting
name
Cristiano Ronaldo      89.0    82.0     93.0      84.0    83.0     89.0
L. Messi                NaN    92.0     92.0       NaN    92.0     70.0

#**Reviewing the moves**
Wow! You have now learned about pivot tables. In the last analysis that you did, you encountered a DataFrame that had non-unique index/column pairs. In order to pivot your DataFrame, you wrote code to drop the last row, and then reshaped it.

In this exercise, you will modify the code using pivot tables and compare it with your strategy of using the pivot method.

In [17]:
# Discard the fifth row to delete all repeated rows
fifa_drop = fifa_players_2.drop(4, axis=0)

# Use pivot method to get all scores by name and movement
fifa_pivot = fifa_drop.pivot(index="name", columns="movement") 

# Print fifa_pivot
print(fifa_pivot)  

# Use pivot table to get all scores by name and movement
fifa_pivot_table = fifa_players_2.pivot_table(index="name", 
                                     columns="movement", 
                                     aggfunc="mean")
# Print fifa_pivot_table
print(fifa_pivot_table)

                    overall                  attacking
movement          dribbling passing shooting dribbling passing shooting
name
Cristiano Ronaldo      89.0    82.0     93.0      84.0    83.0     89.0
L. Messi                NaN    92.0     92.0       NaN    92.0     70.0
                  attacking                    overall
movement          dribbling passing shooting dribbling passing shooting
name
Cristiano Ronaldo        84      83       89        89      82       93
L. Messi                 88      92       70        96      92       92

#**Exploring the big match**
Now, it's time to continue working on the fifa_players exploration. Your next task is to examine the characteristics of players belonging to different teams.

Particularly, you are interested in players from two big rival teams: Barcelona and Real Madrid.

You decide that .pivot_table() is the best tool to get your results since it's an easy way to generate a report. Also, it allows you to define aggregation functions and work with multiple indices.

In [19]:
fifa_players_3 = pd.read_csv('fifa_players_3.csv') 
fifa_players_3

                     name  age  height  weight nationality          club
0   Marc-Andr? ter Stegen   27     187      85     Germany  FC Barcelona
1             Luka Modri?   33     172      66     Croatia   Real Madrid
2             Luis Su?rez   32     182      86     Uruguay  FC Barcelona
3       Antoine Griezmann   28     176      73      France  FC Barcelona
4              Toni Kroos   29     183      76     Germany   Real Madrid
5         Carlos Casimiro   27     185      84      Brazil   Real Madrid
6           Karim Benzema   31     185      81      France   Real Madrid
7           Samuel Umtiti   25     182      75      France  FC Barcelona
8            Ivan Rakiti?   31     184      78     Croatia  FC Barcelona
9          Rapha?l Varane   26     191      81      France   Real Madrid
10        Cl?ment Lenglet   24     186      81      France  FC Barcelona
11        Norberto Murara   29     190      84      Brazil  FC Barcelona
12         Marcelo Vieira   31     174      75      Brazil   Real Madrid
13        Ousmane Demb?l?   22     178      67      France  FC Barcelona
14           Arthur Ramos   22     171      73      Brazil  FC Barcelona
15           ?der Milit?o   21     186      78      Brazil   Real Madrid
16      Rafael Nascimento   26     174      71      Brazil  FC Barcelona
17          Ferland Mendy   24     180      73      France   Real Madrid
18        Vin?cius J?nior   18     176      73      Brazil   Real Madrid
19      Federico Valverde   20     182      78     Uruguay   Real Madrid
20           Rodrygo Goes   18     174      64      Brazil   Real Madrid
21           Lucas Borges   26     182      80      Brazil   Real Madrid
22      Jean-Clair Todibo   19     190      81      France  FC Barcelona

In [20]:
# Use pivot table to display mean age of players by club and nationality 
mean_age_fifa = fifa_players_3.pivot_table(index="nationality", 
                                  columns="club", 
                                  values="age", 
                                  aggfunc="mean")

# Print mean_age_fifa
print(mean_age_fifa)

club         FC Barcelona  Real Madrid
nationality
Brazil          25.666667         23.5
Croatia         31.000000         33.0
France          23.600000         27.0
Germany         27.000000         29.0
Uruguay         32.000000         20.0

In [22]:
# Use pivot table to display max height of any player by club and nationality
tall_players_fifa = fifa_players_3.pivot_table(index="nationality", 
                                     columns="club", 
                                      values="height", 
                                      aggfunc="max")

# Print tall_players_fifa
print(tall_players_fifa)

club         FC Barcelona  Real Madrid
nationality
Brazil                190          186
Croatia               184          172
France                190          191
Germany               187          183
Uruguay               182          182

In [24]:
# Use pivot table to show the count of players by club and nationality and the total count
players_country = fifa_players_3.pivot_table(index="nationality", 
                                    columns="club", 
                                    values="name", 
                                    aggfunc="count", 
                                    margins=True)

# Print players_country
print(players_country)

club         FC Barcelona  Real Madrid  All
nationality
Brazil                  3            6    9
Croatia                 1            1    2
France                  5            3    8
Germany                 1            1    2
Uruguay                 1            1    2
All                    11           12   23

#**The tallest and the heaviest**
You will continue your exploration of characteristics of players in fifa_players belonging to two teams: FC Barcelona and Real Madrid. As your last task, you are interested in exploring the maximum height and weight separated by teams and nationality. You will also compare two years, 2000 and 2010.

You have two columns that you want to set as an index, so you will need to use pivot_table().

The fifa_players dataset is available for you. It contains data about the club, nationality, height, weight, and year of the players playing for each team.

In [26]:
fifa_players_4 = pd.read_csv('fifa_players_4.csv') 
fifa_players_4

           club nationality  year  height  weight
0  FC Barcelona     Germany  2000     187      85
1  FC Barcelona     Germany  2010     189      87
2   Real Madrid     Croatia  2000     172      66
3   Real Madrid     Croatia  2010     173      68
4   Real Madrid     Germany  2000     183      76
5   Real Madrid     Germany  2010     185      77
6  FC Barcelona     Croatia  2000     184      78
7  FC Barcelona     Croatia  2010     185      76

In [27]:
# Set the argument to get the maximum for each row and column
fifa_mean = fifa_players_4.pivot_table(index=['nationality', 'club'], 
                                     columns='year', 
                                     aggfunc='max', 
                                     margins=True)

# Print fifa_mean
print(fifa_mean)

                         height           weight
year                       2000 2010  All   2000 2010 All
nationality club
Croatia     FC Barcelona    184  185  185     78   76  78
            Real Madrid     172  173  173     66   68  68
Germany     FC Barcelona    187  189  189     85   87  87
            Real Madrid     183  185  185     76   77  77
All                         187  189  189     85   87  87